# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Compiled elixir
_build

# Dependency directories
node_modules/
deps

# Optional npm cache directory
.npm

.elixir_ls
